<h2>Alterar Genero</h2>

<form>
    <div class="form-group">
        <label for="nome">Descrição</label>
        <input type="text" ng-model="genero.descricao" class="form-control" id="descricao" name="descricao">
    </div>
    <div class="form-group">
        <button ng-click="irParaPagina('/generos/lista')" type="button" class="btn btn-danger">Cancelar</button>
        <button ng-click="alterarGenero()" type="button" class="btn btn-success">Alterar</button>
        <button ng-click="limparCampos()" type="Limpar" class="btn btn-default">Limpar</button>
    </div>
</form>